<!-- Created --shemeem  -->
{% extends 'company/Fin_base.html' %}
{% block body %}
{% load social_share %}
<style>
    @media print {
        body{
            visibility: hidden !important;
            background-color: white;
        }

        .printContainer {
            visibility: visible !important;
            position: absolute;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: medium;
        }

    }
    /* #printIframe {
        display: block;
    } */
    @keyframes blink {
        0% {
        visibility: hidden;
        }
        50% {
        visibility: visible;
        }
        100% {
        visibility: hidden;
        }
    }

    .blinking-text {
        animation: blink 2s step-start infinite;
    }
    .item_data p{
        font-size: 1.2rem;
        font-weight: bold;
    }
</style>
<div class="page-content " >
    <div class="card radius-15">
        <div class="card-body" style="width:100%;">
            <div class="card-title">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <a style="padding: 10px; cursor: pointer; border-radius: 1vh; background-color: rgba(22,37,50,255);" onclick="overview()" id="overviewBtn" >Overview</a>
                            <a style="padding: 10px; cursor: pointer; border-radius: 1vh;" onclick="transaction()" id="transactionBtn" > Transactions</a>
                        </div> 

                        <div class="col-md-6 d-flex justify-content-end">
                            {% if item.status == 'Inactive' %}
                            <a href="{% url 'Fin_changeItemStatus' item.id 'Active' %}" class="ml-2 fa fa-exchange btn btn-outline-secondary text-grey " role="button" >&nbsp;Active</a> 
                            {% else %}
                            <a href="{% url 'Fin_changeItemStatus' item.id 'Inactive' %}" class="ml-2 fa fa-exchange btn btn-outline-secondary text-grey" role="button" onclick="return confirm('Are you sure you want to make this item Inactive.?')">&nbsp;Inactive</a> 
                            {% endif %}
                            <a  class="ml-2 btn btn-outline-secondary text-grey fa fa-file" role="button" id="pdfBtn" style="display: none;"> &nbsp;PDF</a> 
                            <a class="ml-2 btn btn-outline-secondary text-grey fa fa-print" role="button" id="printBtn" style="display: none; " onclick="printSection('printContent')">&nbsp;Print</a>
                            <div class="dropdown p-0 nav-item"  id="shareBtn" style="display: none;">
                                <li  class="ml-2 dropdown-toggle btn btn-outline-secondary text-grey fa fa-share-alt" data-toggle="dropdown">&nbsp;Share</li>
                                <ul class="dropdown-menu" style="background-color: black;" id="listdiv">
                                    <li style="text-align: center;" >{% post_to_whatsapp object_or_url "WhatsApp" %}</li>
                                    <li style="text-align: center;color: #e5e9ec; cursor: pointer;">Email</li>
                                </ul>
                            </div>
                            <a href="{% url 'Fin_editItem' item.id %}" class="ml-2 fa fa-pencil btn btn-outline-secondary text-grey" id="editBtn" role="button">&nbsp;Edit</a>
                            <a href=""  class="ml-2 btn btn-outline-secondary text-grey fa fa-trash" id="deleteBtn" role="button" >&nbsp;Delete</a>
                            <a href=""  class="ml-2 btn btn-outline-secondary text-grey fa fa-history" id="historyBtn" role="button" >&nbsp;History</a>
                        </div>
                    </div> 
                </div>
                <center>
                    <h3 class="card-title" style="text-transform:Uppercase;">{{ item.name }}</h3>
                    {% if item.status == 'Inactive' %}
                    <h6 class="blinking-text" style="color:red;width:140px;font-weight: bold;">INACTIVE</h6>
                    {% else%}
                    <h6 style="width:140px;color: green;font-weight: bold;">ACTIVE</h6>
                    {% endif %}
                </center>
            </div>
        </div>
    </div>


    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
        <div class="card-body p-0">
            <div id="overview">
                <div class="row g-0" style="margin-left: 1px; margin-right: 1px;">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <center><h4>ITEM DETAILS </h4></center>
                            <hr>
                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Type </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.item_type}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Unit </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.unit}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > HSN Code </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.hsn}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Tax Reference </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.tax_reference}}</p>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Intra State Tax Rate </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">GST {{item.intra_state_tax}}% </p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Inter State Tax Rate </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">IGST {{item.inter_state_tax}}% </p>
                                </div>
                            </div>

                            {% if item.inventory_account != "" %}
                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Inventory Account </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">{{item.inventory_account}} </p>
                                </div>
                            </div>
                            {% endif %}
                            
                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Current Stock </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">{{item.current_stock}} </p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Stock Rate per Unit </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">{{item.stock_unit_rate}} </p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Min Stock to maintain </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">{{item.min_stock}} </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6" style="background-color: rgba(22,37,50,255); border-top-right-radius:2vh; border-bottom-right-radius: 2vh;">
                        <div class="p-5">
                            <center><h4>PURCHASE INFORMATION </h4></center>
                            <hr>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Purchase Price </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">INR : {{item.purchase_price}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Purchase Account </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.purchase_account}}</p>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Description </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;"> {{item.purchase_description}}</p>
                                </div>
                            </div>

                            <center><h4>SALES INFORMATION </h4></center>
                            <hr>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Selling Price </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">INR : {{item.selling_price}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Sales Account </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.sales_account}}</p>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Description </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;"> {{item.sales_description}}</p>
                                </div>
                            </div>   
                        </div>
                    </div>

                </div>
            </div>

            <div id="transaction" style="display: none;" >
                <div id="printContent">
                    <center><h3 class="mt-3 text-uppercase">{{item.name}} - TRANSACTIONS</h3></center>
                    <div class="row mt-5">
                        <div class="col d-flex justify-content-between px-5">
                            <div class="item_data">
                                <p>Selling Price: {{item.selling_price}}</p>
                                <p>Purchase Price: {{item.purchase_price}}</p>
                                <p>Min Stock to Maintain: {{item.min_stock}}</p>
                            </div>
                            <div class="item_data">
                                <p>Stock Quantity: {{item.current_stock}}</p>
                                <p>Stock Value: <span id="stockValue">0</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive px-2">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Sl No.</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if item.current_stock != None and item.current_stock != 0 %}
                                <tr class="clickable-row" data-href="" >
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: center;">Opening Stock</td>
                                    <td style="text-align: center;"> - </td>
                                    <td style="text-align: center;">{{ item.item_created | date:'d-m-Y'  }}</td>
                                    <td style="text-align: center;"> {{ item.opening_stock  }} </td>
                                    <td style="text-align: center;"> - </td>
                                    <td style="text-align: center;">{{item.status}} </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>
<!-- <iframe id="printIframe"></iframe> -->

<script>

    function overview() {
        document.getElementById('overview').style.display = 'block';
        document.getElementById('transaction').style.display = 'none';
        document.getElementById('printBtn').style.display = 'none';
        document.getElementById('pdfBtn').style.display = 'none';
        document.getElementById('shareBtn').style.display = 'none';
        document.getElementById('editBtn').style.display = 'block';
        document.getElementById('deleteBtn').style.display = 'block';
        document.getElementById('historyBtn').style.display = 'block';
        document.getElementById('overviewBtn').style.backgroundColor='rgba(22,37,50,255)'
        document.getElementById('transactionBtn').style.backgroundColor='transparent'
    }
    
    function transaction() {
        document.getElementById('overview').style.display = 'none';
        document.getElementById('transaction').style.display = 'block';
        document.getElementById('printBtn').style.display = 'block';
        document.getElementById('pdfBtn').style.display = 'block';
        document.getElementById('shareBtn').style.display = 'block';
        document.getElementById('editBtn').style.display = 'none';
        document.getElementById('deleteBtn').style.display = 'none';
        document.getElementById('historyBtn').style.display = 'none';
        document.getElementById('overviewBtn').style.backgroundColor='transparent'
        document.getElementById('transactionBtn').style.backgroundColor='rgba(22,37,50,255)'
    }

    $(document).ready(function(){
        var stock = parseInt(`{{item.current_stock}}`);
        var rate = parseFloat(`{{item.purchase_price}}`);
        var value = $("#stockValue");
        
        if(!isNaN(stock) && !isNaN(rate)){
            value.text(parseFloat(stock * rate));
        } else {
            value.text(0);
        }
    });

    function printSection(sectionId) {
        document.body.style.backgroundColor = 'white';
        $('#transaction, #transaction *').css('color', 'black');

        var printContents = document.getElementById(sectionId).innerHTML;
        var $printerDiv = $('<div class="printContainer"></div>');
        $printerDiv.html(printContents);
        $('body').append($printerDiv).addClass("printingContent");

        window.print();
        $printerDiv.remove();
        $('body').removeClass("printingContent");
        $('#transaction, #transaction *').css('color', 'white');

        
        // var contentToPrint = document.getElementById(sectionId).innerHTML;

        // var iframe = document.getElementById('printIframe');

        // iframe.contentDocument.body.innerHTML = contentToPrint;

        // iframe.style.display = 'block';

        // iframe.contentWindow.print();

        // iframe.style.display = 'none';
        
    
    }

</script>
{% endblock %}